<h1>Create New Goal</h1>

<form action="<%= goals_url %>" method="post">
  <%= auth_token %>
  <label for="title">Title</label>
  <input id="title" type="text" name="goal[title]" value="<%= @goal.title %>">

  <label for="details">Details</label>
  <textarea
    id="details"
    name="goal[details]"
    rows="8"
    cols="40"><%= @goal.details %></textarea>

  <label for="private">Private?</label>
  <input id="private" type="checkbox" name="goal[private]" value="true">

  <label for="completed">Completed?</label>
  <input id="completed" type="checkbox" name="goal[completed]" value="true">


  <input type="submit" value="New Goal">
</form>
